// Reset Form Elements
// ==========================================================================

$form-padding: 5px; // use px
$form-height: 1rem;

form {
  margin: 0;
  width: 100%;

  div {
    margin-bottom: 1em;
  }
}

fieldset {
  border: 1px solid $color-gray-light;
  margin: 0;
  padding: 0;
}

label {
  color: $color-gray;
  float: left;
  height: $form-height;
  margin: 0; // keeps the flash messages aligned with the label
  padding: ($form-padding / 2 + 1px) 0.75rem;
  text-align: right;
  width: 33%;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  @extend %font-trade-roman;

  border: 1px solid $color-gray-light;
  margin: 0;
  padding: $form-padding;
  font-size: 1em;
  word-break: normal;
  -webkit-appearance: none;
  width: 33%;
}

textarea {
  resize: vertical;
}

// Buttons
// ==========================================================================

.btn-row {

}

input[type="button"],
input[type="submit"],
input[type="cancel"] {
  @extend %font-trade-roman;
  @extend %button;
  display: inline-block;
  margin: 0 10px;
  padding: 0.25em 0.5em;


}

// Form Fields
// ==========================================================================

.field-group {
  margin: 5px;
  padding: 5px;
  padding-bottom: 10px;
}

.field-group-header {
  @extend h3;
  border-bottom: 1px solid $color-gray;

}
