// Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
}

// Main
// ==========================================================================
$max-width: 75em;

.main-container {
  display: table;
  height: 100%;
  width: 100%;
}

.main {
  display: table-cell;
  padding: 3%; // todo: get a real solution for side nav going down 100%
  width: 80%; // other 20% taken up by sub nav
}


// IE8 Min-Width
// ==========================================================================

.old-ie {
  body {
    overflow-x: auto;
  }
  .main {
  }
}
