// Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
}

// Main
// ==========================================================================

$main-width: 75em; // Change your main area width here

.main {
  margin: 0 auto;
  max-width: $main-width;
  padding: 15px;
  float: left;
  width: 80%; // other 20% goes to side-nav
}

// IE8 Min-Width
// ==========================================================================

.old-ie {
  body {
    overflow-x: auto;
  }
  .main {
    min-width: $main-width;
  }
}
