a {
  cursor: pointer;
  text-decoration: none;

  &:visited {
    color: $color-slate;
  }

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb {

  font {
    size: 1.2rem;
    weight: normal;
  }

  margin: 0.5rem;

  li {
    display: inline;

    &:after {
      content: ' > ';
    }

    &:last-child {
      font-weight: bold;
      &:after {
        content: '';
      }
    }
  }
}

.controls {
  line-height: 3rem;
  text-align: right;

  .left {
    float: left;
  }

  a {
    color: $color-slate;
  }

  li {
    display: inline;
    margin-left: 0.7rem;
  }

}
