a {
  &:visited {
  }

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumb {

  font {
    size: 1.2rem;
    weight: normal;
  }

  margin: 0.5rem;

  li {

    display: inline;

    &:after {
      content: ' / ';
    }

    &:last-child {
      font-weight: bold;
      &:after {
        content: '';
      }
    }
  }
}
