// Horizontal Rules
// ==========================================================================

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

// Google Maps
// ==========================================================================

// Don't reset the *:before & *:after

.map * {
  @extend %default-box-model;
  & img {max-width: none;}
}

// Ancient Browser Alert
// ==========================================================================

.ancient {
  background: #666666;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 1000000;
}

.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}


// Login
// ==========================================================================
.sign-in {
  margin: 40px auto;
  width: 80%;
  display: table;
}


.sign-in-fields {
  border-radius: 10px;
  background-color: $color-slate;
  color: $color-white;
  display: table-cell;
  float: left;
  padding: 30px 40px;
  width: 32em;

  label {
    color: $color-white;
    width: 40%;
  }

  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"] {
    width: 60%;
  }

  a {
    color: $color-white;
  }

  input[type="button"],
  input[type="submit"],
  input[type="cancel"] {
    background: lighten($color-slate, 20%);
    float: right;
    margin: 0;
    padding: 10px 20px;
  }

}

.sign-in-logo {
  display: table-cell;
  font-size: 24px; // 1.5em;
  padding-right: 50px;
  text-align: right;
  width: 33%;
  vertical-align: middle;
}
