
$nav-padding: 1.5rem;

.nav {
  // todo: not working: cannot find %clear-after
  // @extend %clear-after;
  & {
    *zoom: 1;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }



  background: mix($color-white, $color-slate);
  color: $color-white;
  position: relative;
  padding-left: $nav-padding;
  padding-right: $nav-padding;
  width: 100%;

  a {
    color: $color-white;
    text-decoration: none;

    &:visited {
      color: $color-white;
      text-decoration: none;
    }

  }

  .logo {
    float: left;

    img {
      display: table-cell;
      margin: 10px 20px;
      vertical-align: middle;
    }
  }
}

.nav-links {
  bottom: 10px;
  position: absolute;
  right: $nav-padding;
  vertical-align: bottom;
}

.logo {
  @extend %font-trade-condensed;
  display: table;
  text-decoration: none;

  span {
    font-size: 3em;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    line-height: 5rem;
    &.accent {
      color: mix($color-gray, $color-red);
    }
  }

  &:hover {
  }
}

.side-nav {
  background: $color-gray-light;
  display: table-cell;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;

  li {

    border-bottom: 1px solid mix($color-gray, $color-gray-light);
    font-size: 1.4rem;
    height: auto;
    text-align: right;

    &:first-child {
      border-top: 1px solid mix($color-gray, $color-gray-light);
    }

    a {

      display: block;
      font-weight: normal;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        background: darken($color-gray-light, 3%);
      }

      &.active {
        background: darken($color-gray-light, 15%);
      }
    }
  }
}