// @font-face & Font Stacks
// ==========================================================================

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d33bd342-ea45-40b4-b142-3eb2f09233e3");

// Trade Gothic

@include font-face("Trade Gothic Roman",
  font-files(
      "shadmin/TradeGothicRoman.ttf",
      "shadmin/TradeGothicRoman.woff",
      "shadmin/TradeGothicRoman.svg"),
  "shadmin/TradeGothicRoman.eot"
);

@include font-face("Trade Gothic Condensed Bold 20",
  font-files(
      "shadmin/TradeGothicCond20Bold.ttf",
      "shadmin/TradeGothicCond20Bold.woff",
      "shadmin/TradeGothicCond20Bold.svg"),
  "shadmin/TradeGothicCond20Bold.eot"
);


// Font Stacks

%font-trade-roman {font-family: "Trade Gothic Roman", Helvetica, Arial, sans-serif;}
%font-trade-condensed {font-family: "Trade Gothic Condensed Bold 20", Helvetica, Arial, sans-serif;}

// Global Font
// ==========================================================================

html {
  font-size: 100%; // Change this if you want your root font-size bigger/smaller
}

body {
  @extend %font-trade-roman;
  color: $color-slate;
  font-size: 1em;
  line-height: 1.6em;
  -webkit-font-smoothing: subpixel-antialiased; // Fixes the inconsistent font-weight in Safari
  @include at-least(mama-bear) {
    font-size: 1.2em;
  }
}
// Icon Font
// ==========================================================================

@include font-face("Icomoon",
  font-files(
    "shadmin/Icomoon.ttf",
    "shadmin/Icomoon.woff",
    "shadmin/Icomoon.svg"
  ),
  "shadmin/Icomoon.eot"
);

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]:before {
  content: attr(data-icon);
  font-family: 'Icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {

}

// Misc
// ==========================================================================

p {

}

ul, ol {

}

blockquote {

}
