// @font-face & Font Stacks
// ==========================================================================

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d33bd342-ea45-40b4-b142-3eb2f09233e3");

// Trade Gothic

@include font-face("Trade Gothic Roman",
  font-files(
      "shadmin/TradeGothicRoman.ttf",
      "shadmin/TradeGothicRoman.woff",
      "shadmin/TradeGothicRoman.svg"),
  "shadmin/TradeGothicRoman.eot", 400
);

@include font-face("Trade Gothic Roman",
  font-files(
      "shadmin/TradeGothicBold.ttf",
      "shadmin/TradeGothicBold.woff",
      "shadmin/TradeGothicBold.svg"),
  "shadmin/TradeGothicBold.eot", 700
);

@include font-face("Trade Gothic Condensed Bold 20",
  font-files(
      "shadmin/TradeGothicCond20Bold.ttf",
      "shadmin/TradeGothicCond20Bold.woff",
      "shadmin/TradeGothicCond20Bold.svg"),
  "shadmin/TradeGothicCond20Bold.eot"
);

@include font-face("Trade Gothic Roman Light",
  font-files(
      "shadmin/TradeGothicLight.ttf",
      "shadmin/TradeGothicLight.woff",
      "shadmin/TradeGothicLight.svg"),
  "shadmin/TradeGothicLight.eot"
);


// Font Stacks

%font-trade-roman {font-family: "Trade Gothic Roman", Helvetica, Arial, sans-serif;}
%font-trade-roman-light {font-family: "Trade Gothic Roman Light", Helvetica, Arial, sans-serif;}
%font-trade-condensed {font-family: "Trade Gothic Condensed Bold 20", Helvetica, Arial, sans-serif;}

// Global Font
// ==========================================================================

html {
  font-size: 100%; // Change this if you want your root font-size bigger/smaller
}

body {
  @extend %font-trade-roman;
  color: $color-slate;
  font-size: 1em;
  line-height: 1.6em;
  -webkit-font-smoothing: subpixel-antialiased; // Fixes the inconsistent font-weight in Safari
  @include at-least(mama-bear) {
    font-size: 1.2em;
  }
}
// Icon Font
// ==========================================================================

@include font-face("Icomoon",
  font-files(
    "shadmin/Icomoon.ttf",
    "shadmin/Icomoon.woff",
    "shadmin/Icomoon.svg"
  ),
  "shadmin/Icomoon.eot"
);

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]:before {
  content: attr(data-icon);
  font-family: 'Icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLogibility;
}

h1 {
  font-size: 2.6em;
  line-height: 3.9em;
}

h2 {
  font-size: 2.1em;
  line-height: 3.1em;
}

h3 {
  font-size: 1.6em;
  line-height: 2.4em;
}

h4 {
  font-size: 1.3em;
  line-height: 2em;
}

h5, h6 {
  font-size: 1em;
  line-height: 1.5em;
}

// Misc
// ==========================================================================

p {

}

ul, ol {

}

blockquote {

}

// Flash Messages
// ==========================================================================
%flash {
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  color: $color-slate;
  display: block;
  margin-left: 33%;
  padding: 0.5em;
  text-align: center;
  width: 33%;
}

#error, #error_explanation, #alert {
  @extend %flash;
  border-color: $color-red;
}

#notice {
  @extend %flash;
  border-color: $color-gray;
}

#success {
  @extend %flash;
  border-color: $color-gray-light;
}