<br><br>

<%= link_to 'Back to Admin Users', admin_users_path %>

<br><br>

<h1>Admin User</h1>

Email: <%= @admin_user.email %>

<br><br>

<%= link_to 'Edit', edit_admin_user_path(@admin_user) %> | 
<%= link_to 'Delete', admin_user_path(@admin_user), method: :delete, data: { confirm: 'Are you sure you want to delete this admin user?' } %>